@use "var";
@use "common/transition";

:root {
  // 右侧内容区针对fixed元素，有横向铺满的需求，可在fixed元素上设置 [data-fixed-calc-width]
  [data-fixed-calc-width] {
    position: fixed;
    right: 0;
    left: 0%;
  }

  [data-mode="mobile"] {
    [data-fixed-calc-width] {
      width: 100% !important;
    }
  }
}
